.modal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
    align-items: center;
    justify-content: center;
    display: none;
    
}


.modal-item__html {
    min-width: 60%;
    min-height: 84%;
    width: auto;
    height: auto;
    background-size: contain; /* Thay đổi từ cover sang contain */
    background-repeat: no-repeat; /* Đảm bảo ảnh không lặp lại */
    background-position: center; /* Căn giữa ảnh */
    background-image: url('../image/html.png');
    display: none;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4); /* Đổ bóng với độ mờ và màu RGBA */

}


.modal-item__respon {
    min-width: 60%;
    min-height: 84%;
    width: auto;
    height: auto;
    background-size: contain; /* Thay đổi từ cover sang contain */
    background-repeat: no-repeat; /* Đảm bảo ảnh không lặp lại */
    background-position: center; /* Căn giữa ảnh */
    background-image: url('../image/respon.png');
    display: none;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4); /* Đổ bóng với độ mờ và màu RGBA */

}

.modal-item__js {
    min-width: 60%;
    min-height: 84%;
    width: auto;
    height: auto;
    background-size: contain; /* Thay đổi từ cover sang contain */
    background-repeat: no-repeat; /* Đảm bảo ảnh không lặp lại */
    background-position: center; /* Căn giữa ảnh */
    background-image: url('../image/js.png');
    display: none;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4); /* Đổ bóng với độ mờ và màu RGBA */

}

.modal-bg.active {
    display: flex;
    
}

.modal-item__html.active,
.modal-item__respon.active,
.modal-item__js.active {
    display: block;
    animation: fadeInScale 0.5s ease forwards;
    z-index: 30;


}

@keyframes fadeInScale {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }