.scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white; /* Màu nền của button */
    opacity: 0.2;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.scroll-to-top-btn:hover {
    opacity: 0.4;
}

.fa-solid {
    font-size: 200%;
}
